*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* css reset */
}

body {
    background-image: ;

}

header {
    max-width: 100%;
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    background-image: ;
    border-bottom: solid 10px;
    /* adds layout styling for the header */

}

header h1 {
    width: 30%;
    margin: left: 2rem;
    font-family: ;
    font-size: 5rem;
    color: ;
    
    /* adds styleing to the header */
}

<nav {
    width: 60%;
    font-family: ;

    /* adds styling structure to the nav bar */
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 3rem;
    padding-top: 1%;
}

a{
    color:blueviolet;
    /* adds color to nav text */
}
main {
    padding: 5%;
    margin: 5%;
    /* edits padding and margin for everything below the header */

}

.container {
    display: flex;
    min-width: 80%;
    margin-top: 5%;
    background-color: aqua;
    border: solid 10px yellow;
    border-radius: 2rem;
    /* adds styling structure to the boxes comtaining the content on the page */
}

.sub-title {
    width: 20%;
    border-right: 5px solid grey;
    font-family: ;
    padding-right: 2rem;
    /* adds style to the subtitle side bar */
}

.main-content {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* addds styling structure to the 3 content boxes below the header */

}

#about div {
    width: 30%;
}

h2 {
    margin-left: 3rem;
    /* moves h2 to the right */
}

#p-pic {
    margin-top: 5rem;
}

p {
    font-family: ;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* adds styling to bio paragraph */
}

#about div img {
    width: 100%;
    /* resizes profile picture */
}

 .project {
    width: 45%;
    margin: 1%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    transition: transform 02s;
    background-color: aliceblue;
    /* adds style to boxes that contain my projects */
}

.project:first-child {
    min-height: 400px;
    flex-basis: 95%;
    /* makes first project bigger */
}

.project:hover {
    transform: scale(1.5);
    /* resizes project squares */
}

.project a img {
    width: 95%;
    height: 90%;
    /* resizes project squares */
}

.p-title {
    font-size: 1.5rem;
    color: bisque;
    /* edits font size and color for project squares */
}

.last-a {
    color: black;
    /* edits font colors for contact text */
}

#c-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    font-size: 2rem;
    color: black;
    align-items: center;
    /* adds styling structure to contact container */
}

@media only screen and (max-width: 1600px) {
    /* adds responisve layout for bigger acreens */
    .container {
        display: block;
        width: 90%;
        padding: 5%;
    }

    .sub-title {
        width: 100%;
        border-bottom: 5px solid black;
    }

    .main-content {
        width: 90%;
        display: block;
        text-align: center;
        padding: 5%;
        margin: 5%;
    }

    #about div {
        width: 100%
    }

    #project {
        display: flex;
    }

    .project {
        width: 45%;
        margin: 1%;
        padding: 1%;
    }
}

@media only screen and (max-width: 500px) {
    /* adds responsive layout for small screens */
    header {
        display: block;
        text-align: center;

    }

    nav {
        width: 100%;
    }

    ul {
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        word-wrap: break-word;
        text-align: center;
    }

    .project {
        width: 90%;
        flex-basis: 90%;
        min-height:250px
    }


   .c-list li{
        word-wrap:break-word;
        text-align: center;
    }

    #email{
        font-size: 1rem;
    }



    /* .project:first-child {
        height: 100%;
        flex-basis: 95%;

    } */

}


